<div ng-controller="CampaignsController">

	<table id="table_Campaigns" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Template</th>
				<th>Email List</th>
				<th>Server</th>
				<th>Start Time</th>
				<th>Status</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name<br /><input type="text" ng-model="Data.name" required /><br />	
		Template<br /><select ng-model="Data.template_id" required><option ng-repeat="o in Options.templates" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Email List<br /><select ng-model="Data.email_list_id" required><option ng-repeat="o in Options.email_lists" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Server<br /><select ng-model="Data.server_id" required><option ng-repeat="o in Options.servers" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Start<br /><input type="datetime" ng-model="Data.start_time" required /><br />
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name<br /><input type="text" ng-model="Data.name" ng-disabled="true" /><br />	
		Template<br /><select ng-model="Data.template_id" ng-disabled="true"><option ng-repeat="o in Options.templates" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Email List<br /><select ng-model="Data.email_list_id" ng-disabled="true"><option ng-repeat="o in Options.email_lists" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Server<br /><select ng-model="Data.server_id" ng-disabled="true"><option ng-repeat="o in Options.servers" value="{{o.id}}">{{o.name}}</option><option style="display:none" value="">---</option></select><br />
		Start<br /><input type="datetime" ng-model="Data.start_time" ng-disabled="true" /><br />
	  </form>
	</div>

</div>
		


