<div ng-controller="CampaignsController">
		
	<label>
		Status: <select class="Filter" ng-model="Filter.status" ng-change="RedrawTable();" ng-options="o for o in ['new','started','completed','stopped','error']" ><option value=""></option></select>
		Since Date: <input type="date" ng-model="Filter.start_time1" ng-change="RedrawTable();" />
		Before Date: <input type="date" ng-model="Filter.start_time2" ng-change="RedrawTable();" />
	</label>
	
	<table id="table_Campaigns" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Template</th>
				<th>Email List</th>
				<th>Server</th>
				<th>Start Time</th>
				<th>Status</th>
			</tr>
		</thead>
	</table>

	<div new-form class="hidden" ng-if1="ShowEditForm">
	  <form name="Form1" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" required /><br />
		Template:<br /><select ng-model="Data.template_id" ng-options="o.id as o.name for o in Options.templates" required ></select><br />
		Email List:<br /><select ng-model="Data.email_list_id" ng-options="o.id as o.name for o in Options.email_lists" required > </select><br />
		Server:<br /><select ng-model="Data.server_id" ng-options="o.id as o.name for o in Options.servers" required ></select><br />
		Restart:<input type="checkbox" ng-model="start" ng-change="Data.status = start ? 'new' : (Data.status == 'new' ? 'stopped' : Data.status)"/><br />
		Start:<br /><input date-time-input ng-model="Data.start_time" required /><br />
	  </form>
	</div>

	<div edit-form class="hidden" ng-if1="ShowEditForm">
	  <form name="Form2" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" required /><br />
		Template:<br /><select ng-model="Data.template_id" ng-options="o.id as o.name for o in Options.templates" required ></select><br />
		Email List:<br /><select ng-model="Data.email_list_id" ng-options="o.id as o.name for o in Options.email_lists" required > </select><br />
		Server:<br /><select ng-model="Data.server_id" ng-options="o.id as o.name for o in Options.servers" required ></select><br />
		Restart:<input type="checkbox" ng-model="start" ng-change="Data.status = start ? 'new' : (Data.status == 'new' ? 'stopped' : Data.status)"/><br />
		Start:<br /><input date-time-input ng-model="Data.start_time" required /><br />
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="Form3" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" ng-disabled="true" /><br />	
		Template:<br /><input type="text"  ng-model="Data.template_id" ng-disabled="true" /><br />
		Email List:<br /><input type="text"  ng-model="Data.email_list_id" ng-disabled="true" /><br />
		Server:<br /><input type="text"  ng-model="Data.server_id" ng-disabled="true" /><br />
		Log:<br /><textarea ng-model="Data.log" ng-disabled="true" ></textarea><br />
	  </form>
	</div>

</div>
		


