<div ng-controller="EmailListsController">

	<table id="table_EmailLists" class="" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name<br /><input type="text" ng-model="Data.name" required /><br />	
		Emails<br /><textarea ng-model="Data.list" style="overflow-y: scroll;" required /><br />	
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name<br /><input type="text" ng-model="Data.name" ng-disabled="true" /><br />
		Emails<br /><textarea ng-model="Data.list" style="overflow-y: scroll;" ng-disabled="true" /><br />
	  </form>
	</div>

</div>
		




