<div ng-controller="ServersController">

	<table id="table_Servers" class="" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Status</th>
				<th>Status Time</th>
				<th>Host</th>
				<th>Sender</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" required /><br />	
		Host:<br /><input type="text" ng-model="Data.host" required /><br />	
		Port:<br /><input type="text" ng-model="Data.port" value="21" ng-pattern="/\d+/" required /><br />	
		Login:<br /><input type="text" ng-model="Data.login" required /><br />	
		Password:<br /><input type="text" ng-model="Data.password" required /><br />	
		Sender Email:<br /><input type="email" ng-model="Data.sender_email" required /><br />	
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name<br /><input type="text" ng-model="Data.name" required ng-disabled="true"/><br />	
		Host<br /><input type="text" ng-model="Data.host" required ng-disabled="true" /><br />	
		Port<br /><input type="text" ng-model="Data.port" value="21" required ng-disabled="true" /><br />	
		Login<br /><input type="text" ng-model="Data.login" required ng-disabled="true" /><br />	
		Password<br /><input type="text" ng-model="Data.password" required ng-disabled="true" /><br />	
		Sender Email<br /><input type="email" ng-model="Data.sender_email" required ng-disabled="true" /><br />	
	  </form>
	</div>

</div>
		




