<div ng-controller="TemplatesController">

	<table id="table_Templates" class="" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Subject</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden" id="qwerty">
	  <form name="Form" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" required /><br />	
		Subject:<br /><input type="text" ng-model="Data.subject" required /><br />
		Template:<br /><textarea id="tinymce1" data-ui-tinymce data-ng-model="Data.template"
		onclick="this.select()"
		></textarea>
		---{{Data.template}}---
		<br /><input type="text" ng-model="Data.template"/><br />
	  </form> 
	</div>  
  
	</div>

	<div details-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name:<br /><input type="text" ng-model="Data.name" ng-disabled="true" /><br />	
		Subject:<br /><input type="text" ng-model="Data.subject" ng-disabled="true" /><br />	
	  </form>
	</div>

</div>
		




