<div ng-controller="TemplatesController">

	<table id="table_Templates" class="" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Subject</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name: <input type="text" ng-model="Data.name" required /><br />	
		Subject: <input type="text" ng-model="Data.subject" required /><br />	
		Template: <textarea ng-model="Data.template" required /><br />	
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="Form" class="edit-form" novalidate>
		Name: <input type="text" ng-model="Data.name" ng-disabled="true" /><br />	
		Subject: <input type="text" ng-model="Data.subject" ng-disabled="true" /><br />	
		Template: <textarea ng-model="Data.template" ng-disabled="true" /><br />
	  </form>
	</div>

</div>
		




