<div ng-controller="UsersController">

	<table id="table_Users" class="" style="width:100%;" ng-init="FillTable()">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Type</th>
			</tr>
		</thead>
	</table>

	<div edit-form class="hidden">
	  <form name="form" class="edit-form" novalidate>
		Email: <input type="email" ng-model="Data.email" required /><br />	
		Password: <input type="text" ng-model="Data.password" required /><br />	
		Type: <select ng-model="Data.type" ng-options="o for o in ['admin','user']" required></select><br />
		<!--input type="submit" ng-click="Add(Data)" value="Add" /-->
	  </form>
	</div>

	<div details-form class="hidden">
	  <form name="form" class="edit-form" novalidate>
		Email: <input type="email" ng-model="Data.email" required ng-disabled="true"/><br />	
		Password: <input type="text" ng-model="Data.password" required ng-disabled="true"/><br />	
		Type: <select ng-model="Data.type" ng-options="o for o in ['admin','user']" required ng-disabled="true"></select><br />
	  </form>
	</div>

</div>
		


