
	<div id="header" class="landing">
		<div class="container landing">
			<a href="#" data-activates="slide-out" class="button-collapse"><i class="menu material-icons left white-text">menu</i></a>
			<div class="logo"></div>
			<a ng-show="!Authorized()" class="btn btn-flat waves-effect waves-light right white-text modal-trigger" href="#modal-login">SIGN IN</a>
			<a ng-show="Authorized()" class="btn btn-flat waves-effect waves-light right white-text" href="#logout">LOG OUT</a>
		</div>
	</div>
	
	<div id="modal-login" class="modal" ng-controller="LoginController">
		<form ng-submit="login1()">
			<div class="modal-content">
				<div class="row">
					<div class="input-field">
						<input id="login" type="email" class="validate" ng-model="user">
						<label for="email">E-mail</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<input id="password" type="password" class="validate" ng-model="password">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<a href=""><small>FORGOT MY PASSWORD</small></a>
				</div>
			</div>
			<div class="modal-footer">
				<a ng-click="Login()" href="#1" class=" modal-action modal-close waves-effect waves-teal btn-flat">SIGN IN</a>
				<a href="#modal-register" class=" modal-action modal-close waves-effect waves-teal btn-flat modal-trigger">SIGN UP</a>
			</div>
		</form>
	</div>
	
	<div id="modal-register" class="modal">
		<div class="modal-content">
		<h1 class="heading">Sign up</h1>
			<form>
				<div class="row">
					<div class="input-field">
						<input id="login" type="email" class="validate">
						<label for="email">E-mail</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<input id="password" type="password" class="validate">
						<label for="password">Password</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<input id="password" type="password" class="validate">
						<label for="password">Confirm password</label>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-teal btn-flat">Create account</a>
		</div>
	</div>
	